body{
    /* display: flex;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    cursor: pointer; */
    background-image: url(https://i.pinimg.com/736x/50/69/61/5069613b363dc9f5c0bc4c9824ab26b7--background-hd-wallpaper-wallpaper-pc.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        /* height: 100%; */
        flex-direction: row;
        justify-content: center;
        align-items: center;
   
    }
        
button{
    /* padding: 10px; */
    margin: 50px;
    background-color: blueviolet;
    border: 2px solid black;
    border-radius: 10px;
    /* width: 0%; */
    font-size: x-large;
    font-style: oblique;
    color: whitesmoke;
}

button:hover{
    background-color: slategrey;
    color: aqua;
    font-weight: 600;
    font-style: italic;
    border: 2px solid aquamarine;
}
/* .text1{ */
    /* display: none; */
/* } */

h1{
    position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        color:purple;
        padding-left: 50px;
        text-align: center;
        padding-top: 50px;
        font-size: medium;
}

img{
    width: 200%;
    height: 200%;
   
}
input{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    font-size: x-large;
    font-style: italic;

}
 @media only screen and (max-width: 600px) {
    body{
        /* height: fit-content;
        width: fit-content;
        text-align: justify;
        align-items: center; */
        background-color: red;
    }

 }
 @media only screen and(min-width:320px) {
     /* smartphones, iPhone, portrait 480x320 phones */
    body {
            /* height: fit-content;
            width: fit-content;
            text-align: justify;
            align-items: center; */
            background-color: green;
        }
 }

 @media only screen and(min-width:481px) {
     /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    body {
            /* height: fit-content;
            width: fit-content;
            text-align: justify;
            align-items: center; */
            background-color: blue;
        }
 }

 @media only screen and(min-width:641px) {
     /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    body {
            /* height: fit-content;
            width: fit-content;
            text-align: justify;
            align-items: center; */
            background-color: blueviolet;
        }
 }

 @media only screen and(min-width:961px) {
     /* tablet, landscape iPad, lo-res laptops ands desktops */
    body {
            /* height: fit-content;
            width: fit-content;
            text-align: justify;
            align-items: center; */
            background-color: black;
        }
 }

 @media only screen and (min-width:1025px) {
     /* big landscape tablets, laptops, and desktops */
    body {
            /* height: fit-content;
            width: fit-content;
            text-align: justify;
            align-items: center; */
            background-color: transparent;
        }
 }

 @media only screen and(min-width:1281px) {
     /* hi-res laptops and desktops */
    body {
            /* height: fit-content;
            width: fit-content;
            text-align: justify;
            align-items: center; */
            background-color: yellow;
        }
 }
 @media only screen and(min-width:1025px) {

     /* hi-res laptops and desktops */
     body {
         height: fit-content;
         width: fit-content;
         text-align: justify;
         align-items: center;
        
     }
 }
